<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".other.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.SocialMediaApp"
        tools:targetApi="35">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Required for Google Sign-In -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin"
            android:value="true" />

        <!-- Firebase Authentication App ID -->
        <meta-data
            android:name="com.google.firebase.database.application.id"
            android:value="@string/google_app_id" />

        <activity
            android:name=".ui.acitivity.PostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.acitivity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.acitivity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.acitivity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.acitivity.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragment.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".ui.acitivity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>